.post-view-page {
  background-color: #F3FAEC;
  height: 100%;
}

.post-view-page #post-view-title {
    background-color: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    font-family: 'Kalam';
    color: #f3faec;
    text-shadow: 2px 2px #7D9977;
    font-size: 70px;
    padding-top: 4%;
    font-weight: 500;
    margin-bottom: 1%;
    letter-spacing: -2px;
}

.post-view-container {
  display: flex;
  padding: 1%;
  flex-direction: row;
  justify-content: space-between;
}

.post-view-container #post-image-post-page {
  max-width: 300px;
  max-height: 250px;
  margin-right: 10px;
  box-shadow: 1px 1px 1px 1px rgb(97, 120, 91);
  float: left;
}

.comment-input-container {
  display: flex;
  flex-direction: column;
  width: 23%;
}

#comment-inputarea {
  height: 50px;
  margin-bottom: 2%;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid rgb(78, 171, 148);
  color: black;
  font-weight: 900;
  font-size: 15px;
  transition-duration: 1000ms;
  outline: none;
}

#comment-inputarea:focus {
  border-bottom: 2px solid rgb(106, 221, 192);
}

#comment-inputarea::placeholder{
  font-weight: 500;
  font-size: 14px;
  color: rgb(78, 171, 148)
}

#comment-button {
  background-color: transparent;
  border: none;
  outline: none;
}

#comment-icon {
    transition-duration: 500ms;
    border: none;
    margin-bottom: 3%;
}

#comment-icon:hover {
  background-color: rgb(222, 240, 205);
}

#post-view-comments-header {
  align-self: center;
  color: rgb(96, 135, 87);
  text-shadow: 1px 1px #cad6d5;
  font-size: 20px;
}

#comment-user-name {
  font-size: 20px;
  font-weight: 500;
  color: #0d0d0d;
  text-shadow: 1px 1px #cad6d5;
}

#comment-comment-content {
  color: rgb(106, 173, 91);
  text-shadow: 1px 1px #cad6d5;
  max-width: 90%;
  word-wrap:break-word;
  white-space: pre-line;
}

#comments-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}

#comments-container #comments-list {
  height: 280px;
  max-height: 280px;
  overflow: hidden;
  position: absolute;
  margin-top: 3%;
  width: 20%;
  max-width: 20%;
}

.post-view-content {
  min-width: 65%;
  padding-left: 10px;
  font-size: 20px;
  text-align: justify;
  text-shadow: 2px 2px #cad6d5;
}

.post-view-page #post-page-seperator {
  /* display: flex; */
  width: 65%;
  /* display: table; */
}

.post-view-page #comment-unlogged-error {
  color: red;
  font-weight: 800;
  font-size: 17px;
  margin-bottom: 2%;
}

#comment-unlogged-error .comment-section-link {
  color: #009688;
}

#comment-unlogged-error .comment-section-link:visited {
  color: #009688;
}
