/* @media screen and (min-height: 650px), (min-width: 1281px) {
  #login-container-page #login-logo-svg {
    padding-top: 9%;
  }
} */

/* @media screen and (min-width: 1280px) {
  #login-container-page #login-logo-svg {
    margin-bottom: -1%;
  }
} */

/* mobile */
/* @media only screen and (max-width: 500px) {
  #login-container-page { 
    padding-top: 9vh;
    background: linear-gradient(to bottom, #009688 80%, #F3FAEC 20%) !important;
    max-height: 60vh;
  }
  #login-container-page #login-logo-svg { 
    padding-bottom: 2vh;
  }
} */

#login-container-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #009688 63%, #F3FAEC 20%);
  background-repeat: no-repeat;
}

#login-container-page #login-logo-svg {
  margin-top: 100px;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

#login-container-page .form-container {
  display: flex;
  align-items: center;
  margin-top: 50px;
  height: 280px;
  width: 280px;
  border-radius: 100%;
  background-color: rgb(234, 246, 227);
  box-shadow: 1px 1px 1px 1px #7D9977;
  border: 1px solid green;
  justify-content: space-evenly;
  color: #009688;
  font-size: 15px;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.form-container .fields-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 245px;
}

.form-container .image-sepeartor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 250px;
}

.form-container .image-sepeartor img {
  height: 80px;
}


.form-container .labels-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
}


#login-container-page #inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
}

.form-container .field-decoration {
  border: 2px solid #009688;
  width: 158px;
  box-shadow: 1px 1px 1px 1px #7D9977;
  transition-duration: 500ms;
  outline: none;
  color: hsl(174, 100%, 29%);
  font-weight: 550;
}

.form-container .field-decoration:hover {
  background-color:rgb(231, 241, 229);
}

.form-container .field-decoration::placeholder {
  font-weight: 900;
  font-size: 12px;
  color: #009688;
}

#login-container-page .login-button {
  min-height: 35px;
  width: 100px;
  height: 50px;
  border-radius: 42%;
  font-size: 25px;
  border: none;
  box-shadow: none;
  background-color: transparent;
  color: #009688;
  outline: none;
  transition-duration: 500ms;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

#login-container-page .login-button:hover {
  background-color:rgb(216, 239, 211);
}

