.login-container-page .form-container {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.login-container-page .fields-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
}

.login-container-page .inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
}

.field-decoration {
  width: 200px;
  height: 15px;
  border: 2px solid black;
}

.field-decoration::placeholder {
  font-weight: 500;
  font-size: 13px;
  color: gray;
}

.login-button {
  border: 3px black solid;
  border-left: 2px black solid;
  border-top: 2px black solid;
  box-shadow: 2px 2px 2px black;
  min-height: 20px;
  margin-top: 20px;
  width: 90px;
  font-size: small;
  font-weight: 600;
}
