/*Default width: 1280px*/

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #009688 65%, #F3FAEC 20%);
  background-repeat: no-repeat;
}

@media screen and (max-width: 599px) {
  .home-container {
    background: linear-gradient(to bottom, #009688 59%, #F3FAEC 20%);
  }
}

@media screen and (max-width: 480px) {
  .home-container {
    background: linear-gradient(to bottom, #009688 63%, #F3FAEC 20%);
  }
}

#buttons-homepage {
  display: flex;
  justify-content: space-around;
  width: 620px;
  margin-bottom: 88px;
  height: 225px;
}

@media screen and (max-width: 599px) {
  #buttons-homepage {
    width: 65%;
  }
}

@media screen and (max-width: 480px) {
  #buttons-homepage {
    width: 85%;
  }
}

.button-homepage {
  display: flex;
  justify-content: center;
  height: 180px;
  width: 180px;
  border-radius: 100px;
  box-shadow: 2px 2px 2px 2px #7D9977;
  border: 1px solid green;
  background-color: rgb(234, 246, 227);
  transition-duration: 500ms;
}

@media screen and (max-width: 599px) {
  .button-homepage {
    width: 110px;
    height: 110px;
  }
}

.button-homepage:hover {
  background-color:rgb(201, 234, 194);
}

#buttons-homepage img {
  background-repeat: no-repeat;
}


#title-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  white-space: pre-wrap;
  width: 1100px;
  font-family: 'Great Vibes';
  color: #f3faec;
  text-shadow: 2px 2px #7D9977 ;
  margin-top: 60px;
  margin-bottom: 52px;
  height: 200px;
}

@media screen and (max-width: 480px) {
  #title-container {
    width: 70%;
    margin-top: 25%;
  }
}

#web-title {
  font-size: 160px;
  font-weight: 500;
  height: 160px;
  width: 800px;
}

@media screen and (max-width: 812px) {
  #web-title {
    font-size: 125px;
    height: 78%;
    width: 90%;
  }
}
@media screen and (max-width: 599px) {
  #web-title {
    font-size: 100px;
    height: 75%;
    width: 93%;
    margin-top: 3%;
  }
}

@media screen and (max-width: 480px) {
  #web-title {
    min-width: 120%;
    font-size: 80px;
    height: 60%;
    align-self: center;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 230px;
}

@media screen and (max-width: 599px) {
  .button-container {
    height: 70%;
  }
}

.button-container .button-header-container-homepage {
  align-self: center;
  font-size: 20px;
  font-weight: 500;
  color: #009688;
  text-shadow: 1px 1px rgb(53, 163, 64);
  font-family: 'Gloria Hallelujah';
}

@media screen and (max-width: 599px) {
  .home-container .icon-svg {
    width: 65%;
  }
}

@media screen and (max-width: 599px) {
  .home-container .new-post-svg {
    width: 150%;
  }
}
