#home-container {
  /* display: flex;
  flex-direction: column;
  height: 1000px;
  justify-content: space-between;
  margin: 20px;
  overflow: auto; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1000px;
  border: 1px solid;
  background: linear-gradient(to bottom, #009688 40%, #F3FAEC 20%);
  background-repeat: no-repeat;
}

#top-five-title {
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 12px; 
  height: 80%;
  width: 6%;
  align-self: center;
}

#top-five {
  display: flex;
  justify-content: center;
  height: 160px;
  background-color: #F3FAEC;  
}

#home-container #footer-page-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

#home-container #seperator-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
}

#home-container #seperator-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}

#recent-posts-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  overflow-y: auto;
}

#posts-container {
  display: flex;
  width: 98%;
  justify-content: space-between;
  flex-wrap: wrap;
}

#blog-title {
  align-self: center;
  margin-right: 20%
}

#buttons-homepage {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  height: 85%;
  width: 55%;
}

.button-homepage {
  display: flex;
  justify-content: center;
  height: 180px;
  width: 180px;
  background-color: white;
  border-radius: 100%;
  box-shadow: 2px 2px 2px 2px #7D9977;
  border: 1px solid green;
  background-color: rgb(234, 246, 227);
}

#buttons-homepage img {
  background-repeat: no-repeat;
}

#home-container header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  white-space: pre-wrap;
  height: 400px;
  width: 48%;
  color: #f3faec;
  text-shadow: 2px 2px #7D9977 ;
}
