div.ReactTags__tags {
  position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
  border-radius: 2px;
  display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 30px;
  font-size: 12px;
  width: 400px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid rgb(78, 171, 148);
  outline: none;
  color: black;
  font-weight: 900;
  font-size: 15px;
  transition-duration: 1000ms;
  padding: 0 4px;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
  background:#b0d9b5;
  color: #1C6F26;
  font-size: 13px;
  display: inline-block;
  padding: 6px;
  margin: 5px 10px 5px 5px;
  cursor: default !important;
  border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
  color: #009688;
  margin-left: 5px;
  cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
  position: absolute;
  color: #000 !important;
  font-weight: normal !important;
  font-size: 14px !important;
}
div.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: .05em .01em .5em rgba(0,0,0,.2);
  background: white;
  width: 100px;
}
div.ReactTags__suggestions li {
  padding: 15px 10px;
  margin: 0;
}
div.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  cursor: pointer;
}
