.page-container {
  margin: 5px;
  font-family: "Geneva";
}

.home-container {
  display: flex;
}

.blog-container {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  font-family: "Helvetica";
}

#blog-title {
  margin-bottom: 10px;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  flex-basis: 30%;
}

.sidebar-container h1 {
  margin-bottom: -15px
}

.latest-container {
  border-bottom: 2px black solid;
  border-radius: 3px;
}

mark.bold {
  background: none;
  font-weight: bold;
}

mark.red {
  background: none;
  color: red;
}
