.post-container {
  position: relative;
  border: 3px solid black;
  margin-bottom: 10px;
  padding: 5px;
  min-height: 40%;
}

.image-container {
  position: absolute;
  right: 0.9%;
  top: 2%;
}

.post-title {
  margin-top: 2px;
}

.post-content {
  margin-top: -10px;
  margin-right: 32%;
  font-size: small;
}

.published-time {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
}
