.alert-message-container {
  border: 1px solid red;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 7.5%;
  padding: 1%;
  left: 38%;
  height: 6%;
  background: #fff;
  border-radius: 2px;
  font-feature-settings: 'tnum';
  background-color: white;
  -webkit-box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05);
  box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05);
  pointer-events: all;
  -webkit-animation: fadeinout 4s forwards ;
  -moz-animation: fadeinout 4s forwards;
  -o-animation: fadeinout 4s forwards;
  animation: fadeinout 4s forwards;
}

.svg-alert {
  padding-right: 6px;
}


@keyframes fadeinout {
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}
@-o-keyframes fadeinout{
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes fadeinout{
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes fadeinout{
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}
