/*Default width: 1280px*/

/* @media only screen and (max-width: 500px) {  */


#signup-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 623px;
  background: linear-gradient(to bottom, #009688 66%, #F3FAEC 20%);
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1024px) { 
  #signup-page-container {
    background: linear-gradient(to bottom, #009688 64%, #F3FAEC 20%);
  }
}

@media only screen and (max-width: 738px) { 
  #signup-page-container {
    background: linear-gradient(to bottom, #009688 63%, #F3FAEC 20%);
  }
}

@media only screen and (max-width: 654px) { 
  #signup-page-container {
    background: linear-gradient(to bottom, #009688 67%, #F3FAEC 20%);
  }
}

@media only screen and (max-width: 572px) { 
  #signup-page-container {
    background: linear-gradient(to bottom, #009688 69%, #F3FAEC 20%);
  }
}

#signup-page-container #signup-title {
  font-family: 'Great Vibes';
  font-size: 50px;
  font-weight: 500;
  height: 100px;
  margin-top: 60px;
  margin-bottom: -15px;
  color: #f3faec;
  text-shadow: 2px 2px #7D9977;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.3s;
}

@media only screen and (max-width: 738px) { 
  #signup-page-container #signup-title {
    margin-bottom: -5%;
    margin-top: 12%;
    font-size: 40px;
  }
}

#signup-page-container #signup-description {
  white-space: pre-line;
  text-align: center;
  color: #f3faec;
  text-shadow: 2px 2px #7D9977;
  font-family: 'Kalam';
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}
@media only screen and (max-width: 1024px) { 
  #signup-page-container #signup-description {
    font-size: 18px;
  }
}

@media only screen and (max-width: 738px) { 
  #signup-page-container #signup-description {
    font-size: 16px;
  }
}

#signup-page-container #signup-form-container {
  display: flex;
  align-items: center;
  height: 280px;
  width: 280px;
  margin-top: 10px;
  border-radius: 100%;
  background-color: rgb(234, 246, 227);
  box-shadow: 1px 1px 1px 1px #7D9977;
  border: 1px solid green;
  justify-content: space-evenly;
  color: #009688;
  font-size: 15px;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

#signup-form-container #signup-image-sepeartor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 220px;
}

#signup-form-container #signup-image-sepeartor img {
  height: 65px;
  width: 100%;
  margin-bottom: 10px;
}

#signup-form-container #signup-fields-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 5px;
  min-width: 250px;
}

#signup-form-container #signup-labels-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80px;
}

#signup-form-container #signup-inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80px;
}

#signup-form-container .field-decoration {
  border: 2px solid #009688;
  width: 158px;
  box-shadow: 1px 1px 1px 1px #7D9977;
  transition-duration: 500ms;
  outline: none;
  color: hsl(174, 100%, 29%);
  font-weight: 550;
}

#signup-form-container .field-decoration:hover {
  background-color:rgb(231, 241, 229);
}

#signup-form-container .field-decoration::placeholder {
  font-size: 12px;
  color: #009688;
}

#signup-page-container #signup-button {
  min-height: 35px;
  width: 120px;
  height: 50px;
  border-radius: 42%;
  font-size: 25px;
  border: none;
  box-shadow: none;
  background-color: transparent;
  color: #009688;
  outline: none;
  transition-duration: 500ms;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
  animation-duration: 1s;
}
@media only screen and (max-width: 480px) { 
  #signup-page-container #signup-button {
    width: 140px;
  }
}

#signup-page-container #signup-button:hover {
  background-color:rgb(216, 239, 211);
}
