/*Default width: 1280px*/

.new-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  background-color: #f3faec;
  height: 740px;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 480px) { 
  .new-post-container {
    position: fixed;
    width: 100%;
  }
}

.new-post-container #create-new-post-title {
  background-color: #009688;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  font-family: "Kalam";
  color: #f3faec;
  text-shadow: 2px 2px #7d9977;
  font-size: 65px;
  padding-top: 50px;
  font-weight: 500;
  margin-bottom: 20px;
}

@media only screen and (max-width: 480px) { 
  .new-post-container #create-new-post-title {
    font-size: 40px;
  }
}

.new-post-container #icon-header-new-post {
  margin-bottom: 20px;
  width: 80px;
}

.new-post-container #new-post-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

.new-post-container #create-post-button {
  margin-top: 20px;
  border: none;
  width: 100px;
  height: 50px;
  border-radius: 45%;
  background-color: transparent;
  box-shadow: 2px 2px 2px 2px #7d9977;
  border: 1px solid green;
  outline: none;
  color: #009688;
  font-size: 15px;
  font-weight: 500;
  text-shadow: 2px 2px rgb(221, 243, 199);
  transition-duration: 500ms;
}

.new-post-container #create-post-button:hover {
  background-color: rgb(222, 240, 205);
}

#input-add-title {
  width: 400px;
  height: 20px;
  margin-bottom: 15px;
  outline: none;
}

.new-post-container .image-addition-input {
  margin-top: 10px;
  position: relative;
}

@media only screen and (max-width: 480px) { 
  .new-post-container .image-addition-input {
    margin-bottom: 2%;
  }
}

.new-post-container .upload-pic-label {
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  background-color: #009688;
  font-size: 16px;
  color: #fff;
  max-width: 100px;
  max-height: 41px;
  min-width: 100px;
  min-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.new-post-container input[type="file"] {
  position: absolute;
  z-index: -1;
  top: 6px;
  left: 0;
  font-size: 15px;
  color: transparent;
}

.new-post-container .progress-bar {
  width: 405px;
  height: 1.2em;
  background-color: #8fc3be;
  border-radius: 1.5em;
  color: white;
}

.new-post-container .progress-bar::before {
  content: attr(data-label);
  display: flex;
	align-items: center;
  width: calc(var(--progress, 0));
  height: 1.2em;
  border-radius: 1.5em;
  background-color: #009688;
}

#input-add-content {
  width: 398px;
  height: 130px;
  outline: none;
}

.new-post-container #input-add-title,
#input-add-content {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid rgb(78, 171, 148);
  color: black;
  font-weight: 900;
  font-size: 15px;
  transition-duration: 1000ms;
}

.new-post-container #input-add-title:focus,
#input-add-content:focus,
#input-add-img:focus {
  border-bottom: 2px solid rgb(106, 221, 192);
}

.new-post-container #input-add-title::placeholder,
#input-add-content::placeholder,
#input-add-img::placeholder {
  font-weight: 500;
  font-size: 12px;
  color: rgb(78, 171, 148);
}
