#navbar-container {
  display: flex;
  justify-content: space-between;
  background-color: #F3FAEC;
  height: 40px;
  width: 100%;
  position: fixed;
  /* box-shadow: 2px 2px 2px 2px white; */
}

#navbar-container a {
  color: #009688;
  text-decoration: none;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30%;  
}

#navbar-container a:visited {
  color: #009688;
}

#left-navbar {
  display: flex;
  justify-content: flex-start;
  min-width: 30%;
}

#right-navbar {
  display: flex;
  justify-content: flex-end;
  min-width: 30%;  
}

.vr-line-right {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px #009688 ridge;
}

.vr-line-left {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px #009688 ridge;
}
