/* mobile iphone kind */
@media only screen and (max-width: 500px) {
  .navbar-container a {
    font-size: 12px;
    width: 80px;
  }
  
  .navbar-container #left-navbar {
    width: 55%;
  }
  
  .navbar-container #right-navbar {
    width: 50%;
  }

  .navbar-container .mobile-vr-line-right {
    border-right: 0px;
  }
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  background-color: #F3FAEC;
  height: 40px;
  width: 100%;
  position: fixed;
}

.navbar-container a {
  color: #009688;
  text-decoration: none;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30%;
  transition-duration: 500ms;  
}

.navbar-container a:visited {
  color: #009688;
}

.navbar-container a:hover {
  background-color:rgb(216, 239, 211);
}

#left-navbar {
  display: flex;
  justify-content: flex-start;
  min-width: 30%;
}

#right-navbar {
  display: flex;
  justify-content: flex-end;
  min-width: 30%;  
}

.vr-line-right {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px #009688 ridge;
}

.vr-line-left {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px #009688 ridge;
}
