/*Default width: 1280px*/

/* mobile */
/* @media only screen and (max-width: 500px) {
  #all-posts-page-container #recent-posts-title {
    font-size: 9vw !important;
    padding-top: 40px !important;
  }
  #all-posts-page-container .row-flex {
    width: 45% !important;
    flex-direction: column;
    min-height: 50px !important;
  }

  #all-posts-page-container .search-input {
    height: 15px !important;
    width: 80px !important;
  }
  #all-posts-page-container .search-button {
    width: 50px !important;
    height: 20px !important;
    font-size: 2vw !important;
    align-self: center;
  }

  #all-posts-page-container .tag-search-header {
    font-size: 3vw !important;
  }

  #all-posts-page-container div.ReactTags__tagInput {
    height: 20px !important;
    width: 100px !important;
  }
  #all-posts-page-container input.ReactTags__tagInputField {
    height: 20px !important;
    width: 100px !important;
  }
  .post-container {
    width: 50% !important
  }
  .post-container .delete-post-icon {
    min-width: 45px !important;
  }

  #all-posts-page-container .search-by-content-mobile {
    width: 50% !important;
  }
  #all-posts-page-container .search-header-mobile {
    align-self: center !important;
  }
  #all-posts-page-container #tag-selector-search {
    width: 50% !important;
  }

  .post-container .post-buttons-container {
    height: 34px;
  }
  .post-container .edit-post-icon {
    width: 32px;
    margin-top: 7px !important;
  }
  .post-container .delete-post-icon {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 20%;
  }
  .post-container .post-image {
    width: 50% !important;
  }
  #recent-posts-container {
    margin-top: 15%;
  }
} */

#all-posts-page-container {
  display: flex;
  flex-direction: column;
  background-color: #F3FAEC; 
}

#all-posts-page-container .switch-search-container {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 70px;
  justify-content: center;
}

#all-posts-page-container .tag-search-header {
  font-size: 15px;
  margin-left: 10px;
}

@media only screen and (max-width: 480px) { 
  #all-posts-page-container .tag-search-header {
    font-size: 13px;
  }
}

/* The switch - the box around the slider */
.switch-search-method {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch-search-method input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #8fc3be;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch-search-method input:checked + .slider {
  background-color: #009688;
}

.switch-search-method input:focus + .slider {
  box-shadow: 0 0 1px #009688;
}

.switch-search-method input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#all-posts-page-container #recent-posts-title {
  background-color: #009688;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  font-family: 'Kalam';
  color: #f3faec;
  text-shadow: 2px 2px #7D9977;
  font-size: 75px;
  padding-top: 50px;
  padding-bottom: 5px;
  font-weight: 500;
  letter-spacing: 5px;
}

@media only screen and (max-width: 480px) { 
  #all-posts-page-container #recent-posts-title {
    font-size: 40px;
  }
}

#all-posts-page-container #tag-selector-search {
  display: flex;
  flex-direction: column;
  margin: 5px 20px 20px 20px;
  width: 204px;
  align-items: center;
  justify-content: space-between;
  height: 78px;
  color: #009688;
  text-shadow: 0.5px 0.5px #7D9977;
}

#all-posts-page-container #no-results-header {
  align-self: center;
  font-size: 30px;
  margin-top: 20px;
  color: #009688;
  text-shadow: 0.5px 0.5px #7D9977;
}

#all-posts-page-container #search-filter-container {
  display: flex;
  color: #009688;
  height: 80px;
  text-shadow: 0.5px 0.5px #7D9977;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
} 

#all-posts-page-container .search-by-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  height: 50px;
  width: 280px;
}

#all-posts-page-container .search-input {
  outline: none;
  align-self: flex-start;
  border: 1px solid rgb(78, 171, 148);
  box-shadow: 1px 1px 1px 1px #7D9977;
  background-color: transparent;
  height: 30px;
  width: 200px;
  border-radius: 2px;
  color: black;
  font-weight: 900;
  font-size: 15px;
}

#all-posts-page-container .search-button {
  box-shadow: 2px 2px 2px 2px #7D9977;
  border: 1px solid green;
  outline: none;
  color: #009688;
  font-size: 15px;
  font-weight: 500;
  text-shadow: 2px 2px rgb(221, 243, 199);
  transition-duration: 500ms;
  background-color: transparent;
  border-radius: 45%;
  height: 35px;
  width: 70px;
}

#all-posts-page-container .search-button:hover {
  background-color:rgb(201, 234, 194);
}

#recent-posts-container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  flex-wrap: wrap;
}

.post-container {
  display: flex;
  flex-direction: column;
  width: 275px;
  padding: 15px;
  margin-right: 10px;
  margin-left: 10px;
  height: 320px;
  box-shadow: 2px 2px 2px 2px #7D9977;
  margin-bottom: 20px;
  background-color: rgb(240, 246, 237);
  color: #009688;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
  animation-duration: 1s;
}

@media only screen and (max-width: 599px) {
  .post-container {
    margin-left: 20%;
  }
}

@media only screen and (max-width: 480px) {
  .post-container {
    margin-left: 0px;
  }
}

.post-container .post-image {
  width: 150px;
  height: auto;
}

.post-container .post-buttons-container {
  display: flex;
  height: 30px;
  justify-content: center;
}

.post-container .edit-post-icon {
  min-width: 20px;
  max-width: 20px;
  max-height: 23px;
  min-height: 23px;
  margin-top: 6px;
  margin-right: 8px;
} 

.post-container .delete-post-container {
  display: flex;
  justify-content: center;
  max-width: 22px;
  transition-duration: 0.5s;
}

.post-container .delete-post-icon {
  background-color: transparent;
  min-width: 40px;
  max-width: 40px;
  height: 22px;
  border: 0;
  outline: none;
  transition-duration: 0.5s;
}

@media only screen and (max-width: 480px) { 
  .post-container .delete-post-icon {
    min-width: 10.5vw;
    margin-top: 15%;
  }
}

.post-container .delete-post-container:hover {
  background-color:rgb(216, 239, 211);
}

.post-container .edit-post-icon:hover {
  background-color:rgb(216, 239, 211);
}

.post-content-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 400px;
  width: 280px;
  padding-left: 5px;
  padding-right: 5px;
}

.post-content {
  text-align: justify;
  word-break: break-all;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word; /* Important for long words! */
  text-overflow: ellipsis;
  -webkit-line-clamp: 7;
  white-space: pre-wrap;
}

.min-content-lines {
  -webkit-line-clamp: 2;
}


.post-content-container .post-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  box-sizing: border-box;
}

.post-title-container .post-title {
  color: #009688;
  font-weight: 900;
  font-size: 18px;
  margin-bottom: 5px;
  transition-duration: 0.5s;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  box-sizing: border-box;
}

.post-title-container .post-title:hover {
  background-color:rgb(216, 239, 211);
}

#all-posts-page-container #add-new-post-container {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
  padding-top: 10px;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@media only screen and (max-width: 480px) { 
  #all-posts-page-container #add-new-post-container {
    align-self: flex-end;
    margin-right: 10%;
    padding-top: 3%;
  }
}

#all-posts-page-container #add-new-post-container #recent-posts-button-header {
  align-self: flex;
  align-self: center;
  font-size: 17px;
  font-weight: 500;
  color: #009688;
  text-shadow: 1px 1px rgb(53, 163, 64);
  font-family: 'Gloria Hallelujah';
}

#all-posts-page-container #add-new-post-button {
  display: flex;
  justify-content: center;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  box-shadow: 2px 2px 2px 2px #7D9977;
  border: 1px solid green;
  background-color: rgb(234, 246, 227);
  transition-duration: 500ms;
}

@media only screen and (max-width: 480px) { 
  #all-posts-page-container #add-new-post-button {
    height: 72px;
    width: 72px;
  }
}

#all-posts-page-container #add-new-post-button:hover {
  background-color:rgb(201, 234, 194);
}

#all-posts-page-container #add-new-post-button img {
  background-repeat: no-repeat;
  height: 80px;
  width: 120px;
}

@media only screen and (max-width: 480px) { 
  #all-posts-page-container #add-new-post-button img {
    width: 130%;
    height: 100%;
  }
}
