#all-posts-page-container {
  display: flex;
  flex-direction: column;
  background-color: #F3FAEC; 
}

#all-posts-page-container #recent-posts-title {
  background-color: #009688;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  font-family: 'Kalam';
  color: #f3faec;
  text-shadow: 2px 2px #7D9977;
  font-size: 75px;
  padding-top: 4%;
  font-weight: 500;
  letter-spacing: 10px;
}

#recent-posts-container {
  display: flex;
  justify-content: center;
  padding-top: 2%;
  flex-wrap: wrap;
  width: 100%;
}


.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22%;
  padding: 1%;
  margin-right: 0.75%;
  margin-left: 0.75%;
  height: 300px;
  box-shadow: 2px 2px 2px 2px #7D9977;
  margin-bottom: 20px;
  background-color: rgb(240, 246, 237);
  color: #009688;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.post-container img {
  max-width: 55%; 
  height: auto;
}

.post-container .post-buttons-container {
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: center;
}

.post-container .edit-post-icon {
  width: 50px;
  height: 26px;
  margin-top: 6%;
} 

.post-container .delete-post-container {
  display: flex;
  justify-content: center;
  max-width: 23px;
  margin-bottom: 5px;
  transition-duration: 0.5s;
}

.post-container .delete-post-icon {
  background-color: transparent;
  min-width: 60px;
  height: 22px;
  border: 0;
  padding-right: 0px;
  padding-left: -15px;
  outline: none;
  transition-duration: 0.5s;
}

.post-container .delete-post-container:hover {
  background-color:rgb(216, 239, 211);
}

.post-container .edit-post-icon:hover {
  background-color:rgb(216, 239, 211);
}

.post-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.post-content {
  margin-top: 8%;
  max-width: 93%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}


.post-content-container .post-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
}

.post-title-container .post-title {
  color: #009688;
  font-weight: 900;
  font-size: 18px;
  margin-bottom: 5%;
  transition-duration: 0.5s;
}

.post-title-container .post-title:hover {
  background-color:rgb(216, 239, 211);
}

#all-posts-page-container #add-new-post-container {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-between;
  height: 32%;
  padding-top: 1%
}

#all-posts-page-container #add-new-post-container text {
  align-self: flex;
  align-self: center;
  font-size: 17px;
  font-weight: 500;
  color: #009688;
  text-shadow: 1px 1px rgb(53, 163, 64);
  font-family: 'Gloria Hallelujah';
}

#all-posts-page-container #add-new-post-button {
  display: flex;
  justify-content: center;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  box-shadow: 2px 2px 2px 2px #7D9977;
  border: 1px solid green;
  background-color: rgb(234, 246, 227);
  transition-duration: 500ms;
}

#all-posts-page-container #add-new-post-button:hover {
  background-color:rgb(201, 234, 194);
}

#all-posts-page-container #add-new-post-button img {
  background-repeat: no-repeat;
  height: 80px;
  width: 120px;
}
