@import url('https://fonts.googleapis.com/css?family=Kalam');
@import url('https://fonts.googleapis.com/css?family=Mutka');

body, html {
  font-family: 'Kalam';
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: #F3FAEC;
}

.alert-success-message {
  /* border: 1px solid red; */
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  top: 7.5%;
  padding: 1%;
  left: 38%;
  width: 22%;
  height: 6%;
  background: #fff;
  border-radius: 2px;
  font-feature-settings: 'tnum';
  background-color: white;
  -webkit-box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05);
  box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05);
  pointer-events: all;
}

.ps__rail-x {
  opacity: 0.6 !important;
}

.ps__rail-y {
  opacity: 0.6 !important;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#loader-container {
  display: flex;
  justify-content: center;
}

#logo {
  display: flex;
  font-size: 35px;
  justify-content: center;
  align-items: center;
  height: 45px;
  overflow: auto;
  color: white;
  font-weight: 900;
  background-color: #7D9977;
}

