body {
  background-image: url('https://oshriblogbucket.s3.amazonaws.com/light_background_for_blog_or_site.jpg');
  font-family: "Geneva", "Helvetica";
  margin-right: 10px;
  width: 98.7%;
}

.navbar-container {
  margin: 5px;
}

#loader-container {
  display: flex;
  justify-content: center;
}
