

:root {
  --ck-color-toolbar-background: #009688;
  --ck-color-button-default-hover-background: #6ab5af;
  --ck-color-button-default-active-background: #6ab5af;
  --ck-color-button-on-background: #a5d7d2;
  --ck-color-button-on-hover-background: #a5d7d2;
  --ck-color-text: #f3faec;
  --ck-color-list-background: #009688;
  --ck-color-list-button-on-background: #a5d7d2;
  --ck-color-list-button-on-background-focus: #a5d7d2;
  --ck-color-toolbar-border: none;
}

.ck-editor__editable {
  min-height: 200px !important;
  min-width: 384px;
  max-width: 384px;
  line-height: 15px;
}
