.post-container {
  display: flex;
  justify-content: space-between;
  border: 3px solid black;
  margin-bottom: 10px;
  padding: 5px;
  min-height: 40%;
}

.image-container {
  position: relative;
  right: 0.5%;
  min-height: 150px;
  min-width: 265px;
  overflow: auto;
}

.post-title {
  margin-top: 2px;
}

.post-title a {
  color: #196ECF;
}

.post-content {
  margin-top: -10px;
  margin-right: 32%;
  font-size: small;
  min-width: 500px;
  white-space: pre-line;
}

.seperate-image-container {
  position: relative;
}

.published-time {
  position: absolute;
  margin-bottom: 2px;
  bottom: 0;
  min-width: 250px;
}

.buttons-container {
  display: flex;
  width: 110px;
  align-self: flex-end;
  justify-content: space-between
}

.buttons {
  min-width: 50px
}
